@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
    margin: 0;
    font-family: "Roboto Slab", serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* SearchDrawer */

.searchbox {
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition: 0.4s linear;
    overflow: hidden;
}
.searchbox .searchbox__input {
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 15px;
    color: #24233a;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s linear;
}
.searchbox .searchbox__input::placeholder {
    color: #24233a;
}
.searchbox .searchbox__icon {
    position: absolute;
    right: calc(53px / 2);
    top: 50%;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.searchbox .searchbox__icon path {
    fill: #000000;
    transition: 0.4s linear;
}
.searchbox:focus-within {
    max-width: 300px;
}
.searchbox:focus-within .searchbox__input {
    background-color: #fff;
    padding-right: 50px;
    border: 2px solid rgb(56, 55, 55);
}
.searchbox:focus-within .searchbox__icon path {
    fill: #24233a;
}
